<div id="home" ng-controller="phoneController">
    <div class="jumbotron text-center">
        <h1>Welcome to Phone Rank</h1>
        <p>A simple and intuitive way to rank smartphones based on their tech specs</p>
        <button ng-if="!user.loggedIn" class="button btn btn-primary text-center" ng-click="main.doLogout()">Login 
        </button>
        <a ng-href="/users/{{main.user.id}}/phones" class="btn btn-default">
            <span class="glyphicon glyphicon-phone"></span> Phones
        </a>
    </div>
</div>
