<div id="home" ng-controller="phoneController">
    <div class="jumbotron text-center">
        <h1>Welcome to Phone shop</h1>
        <p>A personalized store for your favorite phones</p>
        <button ng-if="!user.loggedIn" class="button btn btn-primary text-center" ng-click="main.doLogout()">Login
        </button>
        <a ng-href="/users/{{main.user.id}}/phones" class="btn btn-default">
            <span class="glyphicon glyphicon-phone"></span> Phones
        </a>
        
    </div>
</div>
