
<!-- Phone data to be displayed if user is logged in. -->
<div >
    <div class="page-header">
        <h1>
    Phones
    <a ng-href="/users/{{main.user.id}}/phones/create" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
        New Phone
    </a>
    </h1>
    </div>
    <!-- Loading message -->
    <div class="jumbotron text-center" ng-show="user.processing">
        <span class="glyphicon glyphicon-repeat spinner"></span>
        <p>Loading Phones...</p>
    </div>
    <table class="table table-bordered table-striped" ng-show="user.phones">
        <thead>
            <tr>    

                <th>Name</th>
                <th>CPU Speed</th>
                <th>RAM</th>
                <th>Year Manufactured</th>
                <th>Battery Life (Talk time)</th>
                <th>Rank</th> 
                <th class="col-sm-2"></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="phone in user.phones">
                <td>{{phone.phone_name}}</td>
                <td>{{phone.cpu_speed}} Ghz</td>
                <td>{{phone.ram}} Gb</td>
                <td>{{phone.year}}</td>
                <td>{{phone.battery_life}} hours</td>
                <td>{{user.phones.indexOf(phone) + 1}}</td>
                <td class="col-sm-2">
                    <a ng-href="/users/{{main.user.id}}/phones/{{phone._id}}/" class="btn btn-primary">Edit</a>
                    <a href="#" ng-click="user.deletePhone(phone._id)" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </tbody>
        <p ng-if="user.phones.length == '0'">It's lonely in here. Add your favorite phones here and watch the magic happen.</p>
    </table>
</div>
